# Rails configurations
PORT=3000
RAILS_MAX_THREADS=
## Additional hosts allowed in Rails (no port, no scheme)
## e.g.: my.machine123.net,192.168.1.50
RAILS_HOSTS=

# CORS configurations
## Additional domains/IPs allowed in CORS, separated by commas
## e.g.: https://my.machine123.net,http://123.456.7.89:5173
CORS_ORIGINS=

# Database configurations
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=mediavault_backend_development
DB_HOST=db
DB_PORT=5432

# Redis configurations
REDIS_PORT=6379

# Sidekiq configuration
SIDEKIQ_USERNAME=
SIDEKIQ_PASSWORD=

# User Media configurations
DEFAULT_MOVIES_PATH=
DEFAULT_SHOWS_PATH=
