# Rails configurations
PORT=3000

# Database configurations
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=mediavault_backend_development
DB_HOST=db
DB_PORT=5432

# Redis configurations
REDIS_PORT=6379

# User Media configurations
DEFAULT_MEDIA_PATH=
